:root {
  /* #### Backgrounds */
  --th1--clr--mainbg: hsl(222, 26%, 31%);
  --th1--clr--togglebg: hsl(223, 31%, 20%);
  --th1--clr--screenbg: hsl(224, 36%, 15%);

  /* #### Keys */
  --th1--clr--keybg1: hsl(225, 21%, 49%);
  --th1--clr--keyshadow1: hsl(224, 28%, 35%);
  --th1--clr--keytoggle: hsl(6, 63%, 50%);
  --th1--clr--keyshadow2: hsl(6, 70%, 34%);
  --th1--clr--keybg2: hsl(30, 25%, 89%);
  --th1--clr--keyshadow3: hsl(28, 16%, 65%);

  /* #### Text */
  --th1--clr--text1: hsl(221, 14%, 31%);
  --th1--clr--text2: hsl(0, 0%, 100%);
}
