@use "../layout/util/" as u;
body {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  font-family: var(--ff--primary);
  font-weight: var(--fw--bold2);
  font-size: 20px;
  background-color: var(--th1--clr--mainbg);
  color: var(--th1--clr--text2);

  @media screen and (max-width: 350px) {
  }
}
