.container {
  display: grid;
  gap: 1rem;
  grid-template-rows: min-content;
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  .header__section {
    display: flex;
    justify-content: space-between;
    &_logo {
      display: inline-block;
      font-weight: 800;
    }
    &_theme {
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      p {
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: var(--fw--bold1);
      }
      &_toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_numbers {
          display: flex;
          gap: 1rem;
          font-size: 12px;
        }
        &_buttons {
          cursor: pointer;
          display: flex;
          align-items: center;
          width: 75px;
          height: 25px;
          background-color: var(--th1--clr--togglebg);
          border-radius: 1rem;
          .circle {
            margin-top: -1px;
            margin-left: 6px;
            width: 18px;
            height: 18px;
            border-radius: 50px;
            background-color: var(--th1--clr--keytoggle);
            transition: transform 300ms ease-in-out;

            &:hover {
              filter: brightness(190%);
            }
          }

          /*  .circle {
              transform: translateX(120%);
            } */
        }
      }
    }
  }

  .app__section {
    display: grid;
    grid-template-rows: min-content;
    gap: 1rem;
    &_output,
    &_functions {
      height: min-content;
      max-width: 450px;
      min-width: 230px;
      background-color: var(--th1--clr--screenbg);
      border-radius: 0.8rem;
      padding: 1rem;
    }
    &_functions {
      padding: 2rem;
    }
    &_output {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      max-height: 200px;
      overflow-y: scroll;
      p {
        margin-top: 5px;
        font-size: 2rem;
        word-wrap: break-word;
        word-break: break-all;
      }
      p:nth-child(2) {
        margin-inline: 10px;
      }
    }
    &_functions {
      ul {
        width: 100%;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        flex-direction: row;
        li {
          cursor: pointer;
          height: 60px;
          display: grid;
          place-items: center;
          flex-grow: 1;
          font-size: 2.5rem;
          color: var(--th1--clr--text1);
          border-radius: 0.5rem;
          display: grid;
          width: 20%;
          /* mobile size 351 below should have width of 15% */

          &:hover {
            filter: brightness(140%);
          }
        }

        .keybg1 {
          align-items: center;
          font-size: 1.2rem;
          color: var(--th1--clr--text2);
          background-color: var(--th1--clr--keybg1);
          box-shadow: 0px 3px var(--th1--clr--keyshadow1);
        }
        .keybg2 {
          background-color: var(--th1--clr--keybg2);
          box-shadow: 0px 3px var(--th1--clr--keyshadow3);
        }
        .keybg3 {
          font-size: 1.2rem;
          background-color: var(--th1--clr--keytoggle);
          box-shadow: 0px 3px var(--th1--clr--keyshadow2);
          color: var(--th1--clr--text2);
        }
      }
    }
  }

  .hide {
    display: none;
  }

  @media screen and (max-width: 350px) {
    .app__section {
      &_functions {
        ul {
          li {
            height: 45px;
            width: 15%;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
